
  <ion-header translucent>
    <ion-toolbar color="tertiary"> 
      <ion-title>
        PokedexApp
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content fullscreen color="dark">
  <ion-searchbar placeholder="Buscar pokemons" color="medium"></ion-searchbar>
  
    <ion-item-sliding>
      <ion-item color="dark">
       
        <ion-chip slot="start">
          <ion-label color="success">001</ion-label>
        </ion-chip>
        
        <ion-label>
        <div>
          <h2>Bulbasaur</h2>
          <ion-badge color="success">Grass</ion-badge>
          <ion-badge color="tertiary">Poison</ion-badge>
         </div>
        </ion-label>
         <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/001.png">
        </ion-thumbnail>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  
    <ion-item-sliding>

      <ion-item color="Danger">
       
        <ion-chip slot="start">
          <ion-label color="danger">004</ion-label>
        </ion-chip>
        
        <ion-label>
        <div>
          <h2>Charmander</h2>
          <ion-badge color="danger">Fire</ion-badge>
         </div>
        </ion-label>
         <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/004.png">
        </ion-thumbnail>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item color="Danger">
       
        <ion-chip slot="start">
          <ion-label color="warning">025</ion-label>
        </ion-chip>
        
        <ion-label>
        <div>
          <h2>Pikachu</h2>
          <ion-badge color="warning">Electric</ion-badge>
         </div>
        </ion-label>
         <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/025.png">
        </ion-thumbnail>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item color="Danger">
       
        <ion-chip slot="start">
          <ion-label color="primary">007</ion-label>
        </ion-chip>
        
        <ion-label>
        <div>
          <h2>Squirtle</h2>
          <ion-badge color="primary">Water</ion-badge>
         </div>
        </ion-label>
         <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/007.png">
        </ion-thumbnail>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
    
    <ion-item-sliding>

      <ion-item color="Danger">
       
        <ion-chip slot="start">
          <ion-label color="primary">008</ion-label>
        </ion-chip>
        
        <ion-label>
        <div>
          <h2>Wartortle</h2>
          <ion-badge color="primary">Water</ion-badge>
         </div>
        </ion-label>
         <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/008.png">
        </ion-thumbnail>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item color="Danger">
       
        <ion-chip slot="start">
          <ion-label color="medium">020</ion-label>
        </ion-chip>
        
        <ion-label>
        <div>
          <h2>Raticate</h2>
          <ion-badge color="medium">Normal</ion-badge>
         </div>
        </ion-label>
         <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/020.png">
        </ion-thumbnail>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item color="Danger">
       
        <ion-chip slot="start">
          <ion-label color="medium">019</ion-label>
        </ion-chip>
        
        <ion-label>
        <div>
          <h2>Rattata</h2>
          <ion-badge color="medium">Normal</ion-badge>
         </div>
        </ion-label>
         <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/019.png">
        </ion-thumbnail>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item color="Danger">
       
        <ion-chip slot="start">
          <ion-label color="tertiary">023</ion-label>
        </ion-chip>
        
        <ion-label>
        <div>
          <h2>Ekans</h2>
          <ion-badge color="tertiary">Poison</ion-badge>
         </div>
        </ion-label>
         <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/023.png">
        </ion-thumbnail>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item color="Danger">
       
        <ion-chip slot="start">
          <ion-label color="tertiary">024</ion-label>
        </ion-chip>
        
        <ion-label>
        <div>
          <h2>Arbok</h2>
          <ion-badge color="tertiary">Poison</ion-badge>
         </div>
        </ion-label>
         <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/024.png">
        </ion-thumbnail>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding>

      <ion-item color="Danger">
       
        <ion-chip slot="start">
          <ion-label color="warning">026</ion-label>
        </ion-chip>
        
        <ion-label>
        <div>
          <h2>Raichu</h2>
          <ion-badge color="warning">Electric</ion-badge>
         </div>
        </ion-label>
         <ion-thumbnail slot="end">
          <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/026.png">
        </ion-thumbnail>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="unread(item)" color="warning">Alterar</ion-item-option>
        <ion-item-option (click)="unread(item)" color="danger">Excluir</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

</ion-content>
